<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

 <style>
 body{
	 padding-top:50px;
	 font-family:"cursive", Lucida Console, cursive;
	 color:#003300;
	 background: url(/static/images/pottedplant2.jpg);
	 background-size:contain;
	 background-color:#3498DB;
	 background-repeat:no-repeat;
	 background-position:bottom-left; 
 }
 </style> 
 

<form action="/getgraph_option_page" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>WELCOME USER</h1>
			</div>
 
			<div class="OTP-form">
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="sensor_key" name="sensor_key">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				 <p> Click <a href ="/user_home_page" >here</a> to go back</p> 
                <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

  {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}


{% endblock %}
